.countries-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.countries{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.country-card{
    display:flex;
    width: 100%;
    justify-content: space-between;
    font-size: 40px;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    color: rgb(88, 113, 90);
    font-weight: 200;
    padding: 5px;
    margin: 10px;
    margin-bottom: 40px;
    border:none;
}

.country-card-header{
    display: flex;
}

.country-card > div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-top:0px;
}

.country > div {
    text-align: left;
} 

.country {
    border-left: 1px solid rgb(88, 113, 90);
    height: fit-content;
}

.tab{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.popup-content{
    border-radius: 5px;
    border: 1px solid rgb(88, 113, 90);
    background-color: rgb(229, 251, 204);
}
.modal {
    font-size: 12px; 
    color:  rgb(88, 113, 90);
}

.header-container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    border-bottom: 1px solid rgb(88, 113, 90);

}
.header {
    width: 100%;
    
    font-size: 25px;
    text-align: center;
    padding: 5px;
}
.close{
    width: 30px;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    margin: 20px ;
    resize: both;
}
.modal > .close {
cursor: pointer;
display: block;
padding: 2px 5px;
line-height: 20px;
right: -10px;
top: -10px;
font-size: 24px;
background: #ffffff;
border-radius: 18px;
border: 1px solid #cfcece;
}